.icon{
    color : black;
}
.delete-btn{
    border : none;
    background : rgba(0,0,0,0);
    cursor : pointer;
}
.icon.create:hover{
    color : #00c853;
}
.icon.delete:hover{
    color : #ff1744;
}
.icon.add:hover{
    color : #00b0ff;
}
.icon.remove:hover{
    color : #00b0ff;
}